altgraph==0.10.2
bdist-mpkg==0.5.0
certifi==2019.6.16
chardet==3.0.4
Click==7.0
clickclick==1.2.2
connexion==2.3.0
Flask==1.1.0
idna==2.8
inflection==0.3.1
itsdangerous==1.1.0
Jinja2==2.10.1
jsonschema==2.6.0
macholib==1.5.1
MarkupSafe==1.1.1
modulegraph==0.10.4
numpy==1.8.0
openapi-spec-validator==0.2.7
pathlib==1.0.1
pathlib2==2.3.4
py2app==0.7.3
pyOpenSSL==0.13.1
pyparsing==2.0.1
python-dateutil==1.5
pytz==2013.7
PyYAML==5.1.1
requests==2.22.0
scandir==1.10.0
scipy==0.13.0
six==1.12.0
typing==3.7.4
urllib3==1.25.3
virtualenv==16.6.1
Werkzeug==0.15.4
xattr==0.6.4
asn1crypto==0.24.0
astroid==2.2.5
astropy==3.2.1
azure-common==1.1.23
azure-core==1.0.0b3
azure-identity==1.0.0b3
azure-keyvault-secrets==4.0.0b3
boto3==1.9.227
botocore==1.12.227
CacheControl==0.12.5
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
Click==7.0
cryptography==2.7
DateTime==4.3
docutils==0.15.2
Flask==1.1.1
geojson==2.5.0
geojsplit==0.1.1
gmplot==1.2.0
idna==2.8
ijson==2.4
iso3166==1.0
isodate==0.6.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.1
jmespath==0.9.4
jsonify==0.5
lazy-object-proxy==1.4.2
mapbox==0.18.0
MarkupSafe==1.1.1
mccabe==0.6.1
msal==0.4.1
msal-extensions==0.1.1
msgpack==0.6.1
msrest==0.6.10
numpy==1.17.2
oauthlib==3.1.0
pandas==0.25.1
Pillow==6.1.0
polyline==1.4.0
portalocker==1.5.1
pycparser==2.19
PyJWT==1.7.1
pylint==2.3.1
python-dateutil==2.8.0
pytz==2019.2
requests==2.22.0
requests-oauthlib==1.2.0
s3transfer==0.2.1
simplejson==3.16.0
six==1.12.0
typed-ast==1.4.0
uritemplate==3.0.0
urllib3==1.25.3
Werkzeug==0.15.6
wrapt==1.11.2
zope.interface==4.6.0
